.App {
  text-align: center;
  background-color: #FFF9F9; /* Fondo general */
  color: #4a4a4a;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #D77FA1; /* Color del título principal */
}

button {
  background-color: #D77FA1; /* Color del botón base */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #BAABDA; /* Hover de botones */
}

