.admin-panel-container {
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: flex-start; /* Alinea los elementos desde el principio */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
}

.back-to-home-btn {
  align-self: flex-end; /* Esto mueve el botón al final a la derecha */
  margin-top: auto; /* Mueve el botón hacia el final del contenedor */
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.back-to-home-btn:hover {
  background-color: #0056b3; /* Cambio de color cuando el cursor pasa por encima */
}

  /* Estilo para el botón "Volver al Inicio" */
.admin-panel button {
  padding: 10px 20px;
  background-color: #D77FA1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.admin-panel button:hover {
  background-color: #45a049;
}

  
  h2 {
    color: #D77FA1; /* Título del panel */
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    background-color: #D9D7F1; /* Fondo de las reservas */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* Estilos para deshabilitar el cuadro de filtro */
.filtro-container.disabled {
  opacity: 0.5; /* Hace que el filtro se vea atenuado */
  pointer-events: none; /* Evita interacciones con el filtro */
}

/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}


.action-toggle-btn {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.modify-btn {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.modify-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}


