.admin-panel-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #E7FBBE; /* Fondo del panel */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #D77FA1; /* Título del panel */
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    background-color: #D9D7F1; /* Fondo de las reservas */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }