.historial-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #FFFDDE; /* Fondo del historial */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  li {
    background-color: #FFCBCB; /* Fondo de cada reserva */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  
  button {
    background-color: #D77FA1;
    color: white;
  }
  
  button:hover {
    background-color: #BAABDA; /* Hover de botones */
  }